body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header, footer {
    background-color: #2A1657;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    color: white; 
}
header nav ul li a {
    color: white; 
    text-decoration: none; 
    padding: 8px;
}


header nav ul li a:hover {
    color: #FF5733; 
}

nav ul {
    list-style: none;
    padding: 0;
    }

nav ul li {
    display: inline;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #f8f8f8;
}

.product-section {
    padding: 20px;


}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    width: 200px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}

.product-card img {
    max-width: 100%;
}

.cart-section {
    text-align: center;



}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    display: inline;
    margin: 0 5px;
    text-decoration: none;
    color: white;
} 

footer ul li a:hover{
    color: red;

}
